<!-- component template -->
<script src="https://unpkg.com/vue"></script>


<script type="text/x-template" id="grid-template">
    <table>
        <thead>
        <tr>
            <th v-for="key in columns"
                @click="sortBy(key)"
                :class="{ active: sortKey == key }">
                {{ key | capitalize }}
            </th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="entry in filteredData">
            <td v-for="key in columns">
                {{entry[key]}}
            </td>
        </tr>
        </tbody>
    </table>
</script>

<!-- demo root element -->
<div id="demo">
    <form id="search">
        Search <input name="query" v-model="searchQuery">
    </form>
    <grid
            :data="gridData"
            :columns="gridColumns"
            :filter-key="searchQuery">
    </grid>
    New contact:<br>
    <input name="contactName" v-model="contact_name">
    <input name="contactNumber" v-model="contact_number">
    <button v-on:click="push()">+</button>
</div>



<script src="functions.js"></script>
<link rel="stylesheet"  href="style.css">