<!-- component template -->


<html>

<head>
    <title>MyContacts</title>
    <link rel="stylesheet"  href="style.css">
    <link rel="icon" href="images/icon.png">
</head>
<body>
<script src="libs/vue.min.js"></script>
<script type="text/x-template" id="grid-template">

    <table>
        <thead>
            <th v-for="key in columns">
                {{ key | capitalize }}
            </th>
        </thead>
        <tbody>
        <tr v-for="entry in filteredData">
            <td v-for="key in columns">
                {{entry[key]}}
            </td>
        </tr>
        </tbody>
    </table>
</script>

<!-- demo root element -->

<div id="preload"></div>
<div id="main">
    <div id="container">
        <input id= "searchInput" name="query" placeholder="Search..." v-model="searchQuery">
        <a class="button" href="#popup">+</a>
    </div>
    <br>
    <grid class="app_component"
            :data="gridData"
            :columns="gridColumns"
            :filter-key="searchQuery">
    </grid>
    <div id="popup" class="overlay">
        <div class="popup">
            Name: <br>
    <input class="app_component" id="name" name="contactName" v-model="contact_name">
    <br><br> Number: <br>
            <input id="number" type='tel' name="contactNumber" v-model="contact_number">
            <a class="close" href="#">
                <button class="button" v-on:click="push()">+</button>
                &times;
            </a>
        </div>
    </div>
</div>
</body>


<script src="functions.js"></script>
</html>



