body {
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 14px;
    color: #444;
}


#searchInput {
    width: 90%;
    font-size: 26pt;
}

#searchAndAddContainer {
    width: 100vw;
}


#main {
    height: auto;
    width: 99%;
    padding: 10px;
    display: none;
    top: 5%;
}

#grid {
    overflow-y: auto;
    max-height: 88vh;
}


#preload {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(images/Preloader_4.gif) center no-repeat #fff;
}

.button {
    font-size: 1em;
    padding: 5px;
    color: #fff;
    border: 1px solid #06D85F;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.7s ease-out;
    min-width: 5%;
}


.button {
    border-radius: 28px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 22px;
    background: #3fa132;
    padding: 1vh 1vw  1vh  1vw ;
    text-decoration: none;
}

.button:hover {
    background: #8ba2b0;
    text-decoration: none;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 50%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #06D85F;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px){
    .box{
        width: 70%;
    }
    .popup{
        width: 70%;
    }
}

.tooltip {
    position: relative;
    display: inline-block;
    font-size: 4vh;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #107426;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: 2vh;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    top: -5px;
    left: 105%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}