body {
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 14px;
    color: #444;
}

table {
    border: 2px solid #42b983;
    border-radius: 3px;
    background-color: #fff;
    width: 100%;
    font-size: 22pt;
}

table tbody {
    overflow-y: auto;
    max-height: 80vh;
}

th {
    background-color: #42b983;
    color: rgba(255,255,255,0.66);
}

td {
    background-color: #f9f9f9;
    min-width: 100%;
    padding: 10px 20px;
}

#searchInput {
    width: 90%;
    font-size: 8vh;
}

#searchAndAddContainer {
    width: 100vw;
}


#main {
    height: auto;
    width: 99%;
    padding: 10px;
    display: none;
    top: 5%;
}

#grid {
    overflow-y: auto;
    max-height: 82vh;
}


#preload {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(images/Preloader_4.gif) center no-repeat #fff;
}



.button {
    border-radius: 28px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 22px;
    background: #3fa132;
    padding: 1.5vh 1.5vw  1.5vh  1.5vw ;
    text-decoration: none;
    size: 8vh;
}

.button:hover {
    background: #8ba2b0;
    text-decoration: none;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #06D85F;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px){
    .box{
        width: 70%;
    }
    .popup{
        width: 70%;
    }
}